NEXTAUTH_URL = http://localhost:3000 #HARUS DI UBAH KETIKA PRODUCTION
NEXT_PUBLIC_API_URL=http://localhost:5000
# GOOGLE LOGIN
AUTH_GOOGLE_ID=616594985392-131eotpoim65shaq245m56f8eh3rqtlc.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=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

# IMAGEKIT UNTUK GAMBAR
NEXT_PUBLIC_PUBLIC_KEY=public_8i9vaU7zjz3432c8WJ6qcPpYhM4=
NEXT_PUBLIC_URL_ENDPOINT=https://ik.imagekit.io/im5ksadiy

# SMTP
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_USER="aryadipanegar4@gmail.com"
SMTP_PASS="tddfxqxfntjbanzx"

AUTH_SECRET="pgvvrl9qukzjGmNZclOT0RXaNQnthSI5OkY4S3R4UBY="
# NEXTAUTH_SECRET = mysecretid

# GITHUB LOGIN
AUTH_GITHUB_ID=Ov23livKKruV0P6P03NX
AUTH_GITHUB_SECRET=4cd3aa50e6821fe2dd32425bbe545466e54b1549
AUTH_TRUST_HOST=true

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/blogapp?schema=public"

NODE_ENV="development"